.wd-photo
{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    float: right;
    margin: 16px;
}

.wd-setting
{
    float: right;
    width: 20px;
    height: 20px;
    margin: 12px;
}

.wd-highlight
{
    border-bottom: rgb(29, 161, 242);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    color : rgb(29, 161, 242);
}

.wd-topic-options
{
    background: black;
    padding: 16px;
    font-size: 15px;
}

.wd-topic-options-color
{
    color : rgb(110, 118, 125);
}

.wd-topicandtweetnum
{
    font-size: 13px;
    color : rgb(110, 118, 125);
    margin: 5px;
    width: 70%;
}

.wd-title
{
    font-size: 16px;
    color : white;
    margin: 5px;
    width: 70%;
}

.wd-author
{
    font-size: 13px;
    color : white;
    width: 70%;
}

.card-body
{
    border-color: darkgray;
    border-width: 1px;
}

.card-title-grey
{
    font-size: 16px;
    color: darkgray;
}

.card-title
{
    font-size: 16px;
}

.wd-prof-photo
{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-top: 10px;
}

.wd-small
{
    font-size: 12px;
}
.wd-container {
    position: relative;
    text-align: center;
    color: white;
}


.wd-bottom-left
{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-color: white;
    font-size: 30px;
}

.wd-total-width
{
    width: 100%;
}

.wd-btn-lower
{
    position: absolute;
    bottom: 15px;
}

.wd-reduce
{
    margin-left: 15px;
    margin-right: 30px;
    width: 90%;
}

.wd-search-features
{
    width: 90%;
    border-color: darkgray;
    border-width: 1px;
    padding: 2px;
    padding-left: 40px;
    margin-left: -20px;
}

.wd-search
{
    position: relative;
    left: 15px;
}
