.wd-rounded
{
    border-radius: 50px;
}

.wd-txt-white
{
    color: white;
}

.wd-bg-dark-grey
{
    background: rgb(47, 51, 54);
}
.wd-bg-black
{
    background: black;
}

.wd-min-spacing
{
    margin-top: 10px;
}

.wd-min-padding
{
    padding: 20px;
}

.wd-float-done {
    clear: both;
}

.wd-border-gray
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
}


.wd-float-left {
    float: left;
}









